@font-face {
    font-family: 'roca';
    src: url("../fonts/Roca\ Regular.ttf");
}

* {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.roca {
    font-family: 'roca', sans-serif;
}

.text-blue {
    color: #3693FF;
}

.support-icon {
    width: 24px;
}

.fw-5 {
    font-weight: 500;
}

.hero {
    background-color: #f5f9fc;
}

body,
html {
    overflow-x: hidden;
}

.logo {
    width: 150px;
}

.number.active {
    background-color: #3693FF;
    color: white;
}

.number {
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    border-radius: 50%;
    margin-left: 4px;
}

.bordered-form {
    border: 2px solid #3693FF;
    padding: 20px;
    border-radius: 15px;
}

.btn-blue {
    background-color: #3693FF !important;
    color: white !important;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.fs-14 {
    font-size: 14px;
}

.slide-img {
    filter: grayscale(100%);
}

.offer {
    background-color: #f2f8ff;
}

.ls-3 {
    letter-spacing: 6px;
}

.fs-44 {
    font-size: 44px;
}

.fw-8 {
    font-weight: 800;
}

.fs-26 {
    font-size: 26px;
}

.check-icon {
    width: 30px;
    margin-bottom: 10px;
}

.fs-12 {
    font-size: 12px;
}

.rate-card, .testimonials {
    background-color: #f2f8ff;
}

.fs-52 {
    font-size: 52px;
}

.fs-18 {
    font-size: 18px;
}

.fw-6 {
    font-weight: 600;
}